# Environment
.env
*.env

# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.coverage
*$py.class

# Django
staticfiles/
media/
*.log
db.sqlite3
staticfiles/

# Node
node_modules/
dist/


# IDE
.vscode/
.idea/


# Docker
*.log


# OS
.DS_Store
Thumbs.db