# Environment
.env
*.env


# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.coverage


# Django
staticfiles/
media/


# Node
node_modules/
dist/


# IDE
.vscode/
.idea/


# Docker
*.log


# OS
.DS_Store
Thumbs.db